html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}

.app {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.content-wrapper {
  margin: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.sidebar h3 {
  line-height: 1;
  margin: 0;
  margin-bottom: 10px;
}

.sidebar .videos-list {
  display: inline-grid;
  grid-gap: 15px;
}

.sidebar .video-card:first-child {
  border-bottom: 1px solid gray;
}

.navigation-bar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  align-items: center;

  box-shadow: 0 5px rgba(255, 255,200,0.6);
  background-color: #fcfcfc;
}
.suggession-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}
.navigation-bar .left-wrapper,
.navigation-bar .right-wrapper {
  max-height: 50px;
}

.navigation-bar .logo {
  display: grid;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}

.navigation-bar .logo img {
  width: auto;
  height: 30px;
}

.navigation-bar .search-wrapper {
  position: relative;
}

.navigation-bar .search-wrapper input {
  border: 1px solid black;
  width: 100%;
  height: 30px;
  padding: 0;
  box-sizing: border-box;
}

.navigation-bar .search-wrapper button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 50px;
}

.center-wrapper {
  display: grid;
  align-items: center;
}

.right-wrapper .icons {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.header {
  width: 100%;
  position: fixed
}
.auto-suggession {
  grid-column-start: 2;
  background:#fcfcfc;
  border: 1px solid gray;

}
.auto-suggession .item {
padding: 5px 8px;
}
.auto-suggession .item:hover {
  border: 1px solid gray;
}
.auto-suggession .item span {
  line-height: 2;
}

@media all and (max-width: 1000px) {
  .content-wrapper {
    grid-template-columns: 1fr;
  }
  .navigation-bar {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
  }
}