html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.app {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
.header {
  height: 100px;
  background-color: red;
}
.content-wrapper {
  background-color: yellow;

  display: grid;
  grid-template-columns: 2fr 1fr;
}
.main-video {
  height: 200px;
}
.sidebar {
  height: 300px;
  background-color: blue;
}

@media all and (max-width: 767px) {
  .content-wrapper {
    grid-template-columns: 1fr;
  }
}
