.video-wrapper {
  margin-bottom: 100px;
}
.video-wrapper iframe {
  width: 100%;
  min-height: 400px;
}

.video-wrapper .video-descriptions > div {
  border-bottom: 1px solid grey;
}

.video-wrapper .video-descriptions .title-bar h2 {
  line-height: 1;
  margin: 0;
}
.video-wrapper .video-descriptions .title-bar .views-wrapper {
  color: grey;
  height: 50px;
  display: grid;
  align-items: center;
  align-content: center;
}

.video-descriptions .channel-bar {
  display: grid;
  margin: 10px;
  grid-template-columns: 2.5fr 8fr 6fr;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}
.channel-bar .image img {
  height: 50px;
}
.channel-bar .title {
  width: 100%;
}
.channel-bar .title h3 {
  line-height: 1;
  margin: 0;
}
.channel-bar .title .publish-date {
  font-size: 0.8 rem;
  color: gray;
}
.subscribe-button {
  width: 100%;
  height: 40px;
  background-color: #cc0000;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.channel-description {
  display: grid;
  grid-template-columns: repeat(11, 1.5fr);
  margin-bottom: 40px;
}

.channel-description .content {
  grid-column-start: 3;
  grid-column-end: 11;
}
.channel-description .content .p {
  white-space: pre-line;
}
.show-more {
  text-transform: uppercase;
  color: gray;
  font-size: 0.8rem;
  cursor: pointer;
  display: block;
}
@media all and (max-width: 1000px) {
  .video-descriptions .channel-bar {
    grid-template-columns: 2fr 10fr;
  }
  .video-descriptions .channel-bar .subscribe {
    grid-column: 1 / 3;
    width: 100%;
  }
}
